.gameList__container {
    position: relative;
    margin-top: 50px;
    width: calc(100% - 300px);
    margin-left: 300px;
    min-height: calc(100vh - 170px);
    color: white;
}

.gameList__amount {
    font-size: 18px;
    transform: translateY(10px);
}

.gameList {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-evenly;
    width: fit-content;
    margin-top: 20px;
}

.game {
    margin: 10px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 0 16px rgb(21, 21, 21);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    transition: transform 0.4s;
    position: relative;
    width: 90%;
}

.game:hover {
    transform: scale(1.05);
}

.game>img {
    height: 150px;
    width: 100%;
    z-index: 2;
}

.game>p {
    margin: 5px 10px;
}

.game__genres {
    display: flex;
    margin: 5px 10px;
    width: calc(100% - 5px);
}

.game__genre {
    font-size: 15px;
    background-color: rgb(122, 122, 122);
    margin: 0 5px;
    padding: 2px 5px;
    border-radius: 2px;
    height: fit-content;
}

/*tablet*/
@media screen and (max-width:1000px) and (min-width: 800px) {
    .gameList__container {
        margin-left: 100px;
    }

    .gameList {
        grid-template-columns: 300px 300px
    }
}

/*phone*/
@media screen and (max-width:800px) {
    .gameList__container {
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .gameList {
        grid-template-columns: 300px
    }
}